<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	
	<!-- 주석(매우 중요한 파일이기에 안전하게 다른줄에 작성) -->
	<!-- 초기화 파라미터 설정 -->
	<!-- 
	<context-param>
		<description>로깅 여부(설명 작성 태그)</description>
		<param-name>logEnabled</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<description>디버깅 레벨(설명 작성 태그)</description>
		<param-name>debugLevel</param-name>
		<param-value>5</param-value>
	</context-param>
	 -->
	 
	 
	<!-- 에러 페이지 세팅 
	<error-page>
		<error-code>500</error-code>
		<location>/jsp02/errorXml.jsp</location>
	</error-page>
	
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/jsp02/errorXml.jsp</location>
	</error-page>
	-->
	
	
	
	
	
	
	
	
	
	
	
	
</web-app>